<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="false"
      throwExceptions="false">

  <targets>
    <target xsi:type="Console"
            name="console"
            layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}" />

    <target xsi:type="File"
            name="file"
            fileName="${basedir}/${var:logDir}/run-${shortdate}.log"
            layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}"
            keepFileOpen="false" />
  </targets>

  <rules>
    <logger name="*" minlevel="${var:minLevel}" writeTo="console,file" />
  </rules>

</nlog>
